@model IEnumerable<motorBikeRental.Models.rentalHistoryDto>
@{
    ViewBag.Title = "List";
}

<h2>Rental History</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Bike Model</th>
            <th scope="col">Bike Brand</th>
            <th scope="col">Customer Name</th>
            <th scope="col">From </th>
            <th scope="col">to </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rental in Model)
        {
            <tr>
                <th scope="row"><a href="#" class="card-link">@rental.BikeModel</a></th>
                <td>@rental.BikeBrand</td>
                <td>@rental.customerName</td>
                <td>@rental.from</td>
                <td>@rental.to</td>
            </tr>
        }
        
    </tbody>
</table>
